/* nav.navbar {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 30px;
  margin-bottom: 0;
  background-color:white !important;
  
}

.navbar-brand {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: black !important;
} */
