#home-container {
    height: calc(100vh - 92px);
    /* https://commons.wikimedia.org/wiki/File:Llano_Estacado_Crosby_County_FM651_2009.jpg */
    background-image: url("/images/home.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 100px;
}

.driver-background {
    /* https://pxhere.com/en/photo/1525081 */
    background-image: url("/images/driver-cropped.jpg"); 
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 30px;
}

.rider-background {
    /* https://www.flickr.com/photos/beyonddc/33035757833 */
    background-image: url("/images/rider-cropped.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 30px;
}

.page-title, .switch-page {
    color: #FFF;
    text-shadow: 2px 2px 8px #000000;
}

#app-render {
    margin-top: 92px;
}