.post-item {
    margin-bottom: 30px;
    text-align: center;
}

/* .post-item:hover {
    cursor: pointer;
} */

.post-item:hover .fa-arrow-right {
    transition: 1.5s;
    transform:  rotateY(180deg) rotateY(180deg);    
}

.fa-trash:hover, .fa-edit:hover, .fa-check:hover {
    cursor: pointer;
}

.fa-trash, .fa-check {
    position: absolute;
    right: 14px;
}

.fa-edit {
    position: absolute;
    right: 36px;
}

.fa-trash:hover {
    cursor: pointer;
    color: #FF0000;
}

.fa-edit:hover, .fa-check:hover {
    cursor: pointer;
    color: #18BC9C;
}
