.fa-car {
    font-size: 80px;
    /* background-color:transparent; */
    display:block; 
    line-height: 50px; 
    width:50%; 
    text-align:center; 
    margin:0 auto;
}

.driver {
    color: white;
    line-height: 50px; 
    width:50%; 
    text-align:center; 
    margin:0 auto;
}

.rider {
    color: white;
    line-height: 50px; 
    width:50%; 
    text-align:center;
    margin:0 auto; 
}

.fa-user{
    font-size: 80px;
    /* background-color:transparent; */
    display:block; 
    line-height: 50px; 
    width:50%; 
    text-align:center; 
    margin:0 auto;
}
